<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>Login Form</title>
     <link rel="stylesheet" href="assets/css/admin-page.css">
</head>

<body>
 <html lang="en-US">
<head>
 <meta charset="utf-8">
   <title>Login</title>
</head>
   <div>
     <h2>Best4u Admin Login</h2>
     <p>In order to modify item listings, please login first.</p>
     <% if(alert === true){ %>
       <p> Log in failed </p>
     <% } %>
     <form action='/admin/login' method='post'>
       <span></span>
         <input type="text" name="user" placeholder="Username">

       <span></span>
         <input type="password" name="pass" placeholder="Password">

       <input type="submit" value="Login">
     </div>

</form>


</body>
</html>
